/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --main-font: Inter-Variable;
    --accent-font: PressStart;
    --title-weigh: 785;
    --text-weight: 465;
    --popover-weight: 400;
    --font-color: #00CC14;
    --bg-image-repeat-grad-color: #000;
    --bg-image-linear-grad-start-color: #007f0c;
    --bg-image-linear-grad-end-color: #004306;
    --linear-grad-start: 0;
    --bg-content-color: #000;
    --btn-text-color: #00CC14;
    --heart-contour-color: #00CC14;
    --border-image-text-color: rgba(0, 0, 0, 0.5);
}

:root.theme-light {
    --main-font: Inter-Variable;
    --accent-font: PressStart;
    --title-weigh: 700;
    --text-weight: 400;
    --popover-weight: 400;
    --font-color: #000;
    --bg-image-repeat-grad-color: #d3d3d3;
    --bg-image-linear-grad-start-color: #e7e7e7;
    --bg-image-linear-grad-end-color: #1a1a1a;
    --linear-grad-start: 0.01%;
    --bg-content-color: #fff;
    --btn-text-color: #fff;
    --heart-contour-color: #000;
    --border-image-text-color: rgba(255, 255, 255, 0.5);
}


@media screen and (prefers-color-scheme: light) {
    :root {
        --main-font: Inter-Variable;
        --accent-font: PressStart;
        --title-weigh: 700;
        --text-weight: 400;
        --popover-weight: 400;
        --font-color: #000;
        --bg-image-repeat-grad-color: #d3d3d3;
        --bg-image-linear-grad-start-color: #e7e7e7;
        --bg-image-linear-grad-end-color: #1a1a1a;
        --linear-grad-start: 0.01%;
        --bg-content-color: #fff;
        --btn-text-color: #fff;
        --heart-contour-color: #000;
        --border-image-text-color: rgba(255, 255, 255, 0.5);
    }
}