/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: Inter-Variable;
    --accent-font: PressStart;
    --title-weight: 785;
    --text-weight: 465;
    --font-color: #00CC14;
    --bg-image-repeat-grad-color: #000;
    --bg-image-linear-grad-start-color: #007f0c;
    --bg-image-linear-grad-end-color: #004306;
    --bg-content-color: #000;
    --linear-grad-start: 0;
    --item-inline-size: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
    --btn-text-color: #00CC14;
    --heart-contour-color: #00CC14;
    --heart-active-color: #FF0000;
    --border-image-text-color: rgba(0, 0, 0, 0.5);
}
